// start the home page

nav{
    height: 50px;
    width: 100%;
    position: relative;
    background: $mainColor;
    .logo{

      img{
        margin: 0 10px;
      }
    }
    .text-white{
        font-size: 14px;
    }
    form{
        input[type="search"]{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 999;
            padding: 0 20px;
            border: none;
            color: $scondColor;
            outline: none;
            display: none;
            ::-webkit-input-placeholder{
                color: $scondColor;
            }
        }
    }
    i{
        font-size: 24px;
        cursor: pointer;
    }
    .toggle-menu{
        i{
            color: #fff;
        }
    }
    .search{
        li{
            i{
                color: rgb(254, 242, 0);
            }
        }

    }

}
.hide{
    font-size: 24px;
    cursor: pointer;
    color: $mainColor;
    position: absolute;
    right: 15px;
    top: 10px;
}
.drop{
    width: 260px;
    position: absolute;
    z-index: 99;
    top: 39px;
    left: 10px;
    display: none;
    padding: 10px;
}
