@import "global";
@import "nav";

header {
    width: 100vw;
    background: #fff;
    margin-bottom: 0;
    // height: 400px;
    position: relative;

    .slider {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 200px;
            background: -webkit-linear-gradient(270deg,rgba(0,0,0,0),#000);
            width: 100%;

        }

        // width: 100%;
        // height: 300px;
        // position: relative;

        p {
          padding: 10px;
          font-size: 17px;
          font-weight:700;
          position: absolute;
          bottom: 38px;
          right: 10px;
          width: 80%;
          z-index: 99;
        }
    }

    .slick-dots {
        left: 20px;
        bottom: 28px;
        text-align: center;
        border-radius: 11px;
        width: 81px;
        border: 1px solid #ffffff42;

    }

}
.slick-dots li{
    margin: 0;
    width: 10px;
    height: 10px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
