body {
  padding-top: 50px;
  line-height: 1.6;
  background-color: #fdfdfd;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  overflow-x: hidden;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mobile-container {
  width: 370px;
  background: #fff;
  padding: 20px 0 25px;
  text-align: center;
  overflow: auto;
  height: 100vh;
}

.padding {
  padding: 20px;
}

.custom-botton {
  text-align: center;
  border: none;
  padding: 10px;
  outline: none;
}

.custom-botton:focus {
  outline: none;
}

.no-scroll {
  overflow-y: hidden;
  height: calc(100vh - 50px);
}

.font-16 {
  font-size: 18px !important;
  font-weight: bold;
  font-family: 'Cairo', sans-serif;
}

a:hover {
  text-decoration: none;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
  font-size: 10px;
  background-color: transparent;
  border: 1px solid #fff;
}

.slick-dots li button:before {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #fef200;
  background-color: #fef200;
  border-radius: 50%;
  color: #fff;
  opacity: 1;
}

.slick-dots {
  bottom: -40px;
}

nav {
  height: 50px;
  width: 100%;
  position: relative;
  background: #2f3b96;
}

nav .logo img {
  margin: 0 10px;
}

nav .text-white {
  font-size: 14px;
}

nav form input[type="search"] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 0 20px;
  border: none;
  color: #9a9a9a;
  outline: none;
  display: none;
}

nav form input[type="search"] ::-webkit-input-placeholder {
  color: #9a9a9a;
}

nav i {
  font-size: 24px;
  cursor: pointer;
}

nav .toggle-menu i {
  color: #fff;
}

nav .search li i {
  color: #fef200;
}

.hide {
  font-size: 24px;
  cursor: pointer;
  color: #2f3b96;
  position: absolute;
  right: 15px;
  top: 10px;
}

.drop {
  width: 260px;
  position: absolute;
  z-index: 99;
  top: 39px;
  left: 10px;
  display: none;
  padding: 10px;
}

.login-page .content .logo img {
  width: 190px;
}

.login-page .content .logo h3 {
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: -20px;
}

.login-page .content .login-form form input {
  margin-bottom: 20px;
  background: #ececec;
}

.login-page .content .login-form form input[type="submit"] {
  background: #2f3b96;
  color: #fff;
  margin-top: 30px;
}

.member-login .custom-list {
  text-align: right;
  margin-bottom: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  position: relative;
  color: #000;
}

.member-login .custom-list:hover {
  color: #2f3b96;
}

.member-login .content .menus button {
  background: transparent;
  border: 2px solid #2f3b96;
  border-radius: 4px;
  color: #2f3b96;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.member-login .content .menus .menu-list {
  position: relative;
}

/*
.member-login .content .menus .menu-list i {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  top: 50%;
  color: #cbcbd0;
  margin-top: -12px;
}
*/

.member-login .content .menus .menu-list input[type="radio"] {
  display: none;
  opacity: 0;
}

.member-login .content .menus .menu-list input[type="radio"]:checked~section {
  height: auto;
}

.member-login .content .menus .menu-list input[type="radio"]:checked~label i {
  transform: rotate(-90deg);
}

.member-login .content .menus .menu-list section {
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: all .5s;
  font-size: 14px;
}

.member-login .content .menus .menu-list section ul {
  padding: 0 15px;
}

.member-login .content .menus .menu-list section ul li {
  padding: 0;
  padding-bottom: 10px;
}

.member-login .content .menus .menu-list section ul li a {
  padding: 0;
}

.powerd span {
  color: #777 !important;
}

.news-items .media {
  position: relative;
  color: #000;
}

.news-items .media img {
  width: 150px;
  height: 100px;
}

.media-body span {
  position: absolute;
  bottom: 30px;
  font-size: 10px;
  color: #9a9a9a;
}
#article{
  padding: 20px;
}
#article table{
  margin-bottom: 15px;
}
#article table, #article table td, #article table tr{
  border: 1px solid #000;
}
#article table td, #article table tr{
  padding: 5px;
}
#article p{
  margin-bottom: 10px;
}
#article span {
  position: unset;
  font-size: 14px !important;
  line-height: 1.6;

}
#article img{
  width: 100%;
  height: auto;
}

.all-news {
  display: inline-block;
  margin-bottom: 30px;
  padding: 5px 40px;
  color: #2f3b96;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.125)
}

.all-news:hover {
  color: #2f3b96;
}

.menu {
  width: 260px;
  background: #fff;
  height: calc(100% - 50px);
  position: fixed;
  right: -260px;
  top: 50px;
  z-index: 999;
  overflow: auto;
  transition: all .4s;
}

.menu-bottom {
  height: calc(100vh - 50px);
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 900;
  transition: all .4s;
  display: none;
}

.show-bottom {
  bottom: 0px !important;
}

.categories-menu h5 {
  margin-right: 2%;
  padding: 20px 0 !important;
}

.categories-menu {
  width: 100%;
  background: #fff;
  height: 300px;
  position: fixed;
  bottom: -300px;
  z-index: 999;
  overflow: hidden;
  transition: all .4s;
}

.custom-checkbox {
  opacity: 1;
  border: 1px solid #999;
}

.show-categories {
  display: block !important;
}

/*
.show-categories .categories-menu{
    top: 45% !important;
} */
#categories {
  width: 96%;
  border-top: 1px solid #ccc;
  margin-right: 2%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
}

.menu-bottom .button {
  text-align: center;
  color: #2f3b96 !important;
}

#categories .custom-list-bottom {
  text-align: right;
  margin-bottom: 0;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  position: relative;
}

.box {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 19px;
}

#categories .custom-list-bottom input {
  display: none;
  opacity: 0;
}

#categories .custom-list-bottom input:checked~span::after {
  content: "\F12C";
  background: #fef200;
  width: 22px;
  font: normal normal normal 18px "Material Design Icons";
  color: #fff;
  height: 22px;
  display: inline-block;
  position: absolute;
  left: -2px;
  top: -2px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #fef200;
}

.rigth {
  right: 0 !important;
}

.content .head {
  font-size: 17px;
  font-weight: bold;
}

.content .head h4 a {
  color: #2f3b96;
}

.content .matchs {
  margin-bottom: 50px;
}

.content .matchs .match-deatils {
  border: 1px solid #9a9a9a;
  padding: 10px 30px;
}

.content .matchs .match-deatils .title {
  color: #9a9a9a;
  font-size: 14px;
}

.content .matchs .match-deatils .divider {
  width: 10px;
  display: block;
  height: 5px;
  background: #000;
  margin: 30px auto;
}

.content .matchs .match-deatils img {
  width: 48px;
  height: 48px;
  margin: auto;
}

.content .matchs .match-deatils p {
  font-size: 10px;
  font-weight: bold;
}

.content .slick-dots li button:before {
  border: 1px solid #9a9a9a;
  background-color: #fef200, 66;
}

.content .slick-dots li.slick-active button:before {
  border: 1px solid #9a9a9a !important;
  background: transparent;
}

.news .caption .media {
  color: #000;
}

.news .caption .media .media-body span {
  position: static;
}

.news .caption .media .media-body .font-16 {
  font-size: 18px !important;
}

.img-250 {
  height: 250px;
}

.news-d {
  margin: 15px 0 !important;
  line-height: 1.6 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.powerd {
  font-size: 14px;
  font-weight: bold;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.125);
}

.card-body {
  position: relative;
  padding: 15px 10px 5px;
  border: none;
  color: #000;
  padding-left: 50px;
}

.post-card .card-body {
  position: relative;
  padding: 15px 20px 5px 20px;
  border: none;
  color: #000;
}

#load-more {
  background: none;
}

.card-body i {
  position: absolute;
  left: 10px;
  font-size: 20px;
  transform: translatey(-50%);
  top: 50%;
  cursor: pointer;
}

.news-title {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.news-sub-title {
  font-size: 12px;
  color: #9a9a9a;
}

#loading {
  position: fixed;
  width: 100%;
  height: calc(100vh - 50px);
  top: 50px;
  left: 0;
  background: #fff;
  z-index: 999;
}

#loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.comments {
  background-color: #005;
  color: #fff;
}

.comments .head h3 {
  color: #fef200
}

.dark .disqus-footer__link {
  color: #fef200 !important;
}

.member {
  display: flex;
  justify-content: space-around;
  text-align: right;
  margin: 20px 0;
  padding: 0 15px;
  /* position: fixed;
top: 70px; */
}
.member ul li {
  width: 150px;
  background: #f9f8f8;
  margin: 10px 2px;
  padding: 5px 0;
  border-radius: 8px;
  cursor: pointer;
}
.member ul li button{
  width: 100%;
  background:none;
  border: none;
  text-align: right;
  outline: none;
}
.member ul li button i,
.member ul li button img
{
  margin-left: 10px;
}
.mini-title{
  font-size: 14px;
  color: #929090;
}
.other-games{
  padding-right: 20px !important;
}
.divider{
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
  text-align: right !important;
}
.menu .menus .menu-list a i{
    font-size: 22px;
    vertical-align: middle;
    margin-left: 20px;
}
.menu .menus .menu-list a img{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    vertical-align: middle;
}
.menu .social-icon{
	display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}
.menu .social-icon a img{
	width: 28px;
	height: 28px;
}
.overlay{
	position: fixed;
	height: calc(100% - 50px);
	width:100%;
	top: 50px;
	left: 0;
	z-index: 4;
	background-color: rgba(0, 0, 0, .4);
}
/*# sourceMappingURL=main.css.map */
